#header-container{
    height: 120px;
    padding: 20px;
    background: #000;
    width: 100%;
    top:0;
    z-index: 3;
    position:fixed;
}
.wrap-logo{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.logo{
    display:inline-block;
}

#logo-svg{
    filter: brightness(0) invert(1);
}
.login-wrap{
    position:absolute;
    color: white;
    font-weight: bold;
    font-size: 20px;
    right: 20px;
    background: #1ed760;
    border-radius: 15px;
    padding: 10px;
}
.login-wrap{
    cursor: pointer;
}
@media screen and (max-width: 768px){

    .svglogo{
        width: 150px !important;
        padding: 0 10px;
    }
    .wrap-logo{
        display:flex;
        align-items:center;
        justify-content: space-between;
    }
}