.form-container{
    width: 50%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    padding: 40px;
    margin: 0 auto;
    justify-content:center;
    align-items:center;
}

.form-join{
    margin-top: 20px;
    width: 100%;
    padding: 40px;
    border-radius: 15px;
    border: 1px solid #999;
}
.wrap-fields{
    padding: 8px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.wrap-fields input{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #999;
    width: 500px;
}
.wrap-fields label{
    font-weight: 500;
}

.btn-group{
    display:flex;
    justify-content: center;
    align-items:center;
}
.btn{
    padding: 10px 20px;
    border-radius:15px;
    /* outline: none; */
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    border:none;
}


.btn-login{
    margin-top: 20px;
    background: #1ed760;

   
}
.btn-register{
    border: 1px solid #999;
    color: #999;

}
.register-nav{
    display:flex;
    align-items:center;
    justify-content: center;
    /* margin : 20px; */
}
.register-nav p{
    margin: 20px;
    font-weight: 600;
}